azureFiles:
  resourceGroup: "${st_rg}"
  azureStorageAccountName: "${st_name}"
  azureStorageAccountKey: "${st_key}"
  fileShareName: "${st_share}"

config:
  simulatorMode: "record"
  recordingDir: "/mnt/simulator-storage/recording"
  recordingAutoSave: "True"
  azureOpenAIEndpoint: "${openai_endpoint}"
  logLevel: "INFO"

image:
  repository: "jhpmap.azurecr.io/hgr-aoai-simulator"
  tag: "${image_tag}"

ingress:
  enabled: true
  className: "${ingress_class}"
  hosts:
    - host: "${hostname}"
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: pm-jh-edu-tls
      hosts:
        - ${hostname}

keyVault:
  tenantId: "${tenant_id}"
  clientId: "${client_id}"
  name: "${kv_name}"

service:
  type: ClusterIP
